@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    --Cyan: hsl(179, 62%, 43%);
    --Light_Cyan: hsl(179, 27%, 52%);
    --Bright_Yellow: hsl(71, 73%, 54%);
    --Light_Gray: hsl(204, 43%, 93%);
    --Grayish_Blue: hsl(218, 22%, 67%);
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--Light_Gray);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

/*--------MOBILE--------*/

.mainContainer{
    background-color: white;
    overflow: hidden;
    width: 313px;
    height: 730px;
    margin: 70px auto 70px;
    border-radius: 8px;
}

/*------ourComunnity--------*/

.ourCommunity{
    padding: 8px 24px 24px 24px;
    height: 270px;
    box-sizing: border-box;
}

.ourCommunity h2.title{
    color: var(--Cyan);
    font-size: 16px;
}

.ourCommunity h2.promo{
    color: var(--Bright_Yellow);
    font-size: 14px;
    margin: 25px 0 10px 0;
}

.ourCommunity p{
    color: var(--Grayish_Blue);
    font-size: 12px;
    line-height: 27px;
    margin-top: 16px;
}

/*------monthlySuscription--------*/

.monthlySuscription{
    background-color: var(--Cyan);
    padding: 12px 24px 24px 24px;
    height: 230px;
    box-sizing: border-box;
    color: var(--Light_Gray);
}

.monthlySuscription h2{
    font-size: 16px;
    margin-bottom: 18px;
}

.price{
    font-size: 32px;
    font-weight: 700;
}

.monthlySuscription p{
    margin-top: 8px;
}

button{
    margin-top: 14px;
    background-color: var(--Bright_Yellow);
    border-radius: 5px;
    width: 100%;
    height: 48px;
    border-style: none;
    color: var(--Light_Gray);
    font-size: 16px;
    font-weight: 700;
}

/*------whyUs--------*/

.whyUs{
    background-color: var(--Light_Cyan);
    padding: 8px 24px 24px 24px;
    height: 230px;
    box-sizing: border-box;
    color: var(--Light_Gray);
}

.whyUs h2{
    font-size: 18px;
}

li{
    list-style: none;
    margin-left: -40px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}


/*----------Footer-------------*/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*----------DESKTOP-------------*/

@media only screen and (min-width: 680px) {
    .mainContainer{
        width: 636px;
        height: 476px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 160px auto 100px;
    }
    .ourCommunity{
        grid-column: 1/3;
        padding: 20px 35px 35px 35px;
        height: 218px;
    }
    .ourCommunity h2.title{
        font-size: 20px;
    }
    .ourCommunity h2.promo{
        font-size: 20px;
    }
    .ourCommunity p{
        font-size: 15px;
        line-height: 27px;
        margin-top: 8px;
    }
    .monthlySuscription{
        padding: 20px 40px 40px 40px;
        height: 258px;
    }
    .monthlySuscription h2{
        font-size: 20px;
    }
    .monthlySuscription p{
        font-size: 15px;
    }
    .whyUs{
        height: 258px;
        padding: 20px 40px 40px 40px;
    }
}